

/* rem and em does not depend on HTML font size in case of media queries instead here 1rem = 1em = 16px i.e. default browser font size */

/* Do not use px unit in media queries */

/* for width of 1280px we should devide 1280 by 16 i.e. 1280/16 == 80em */

/* Always use em unit in media queris */


/********************************************/
/* FOR WIDTH BELOW 1344PX for small laptops */
/********************************************/
@media(max-width: 84em){

  .home{
    max-width: 120rem;
  }

  .heading-primary{
    font-size: 4.4rem;
  }
  .heading-secondary{
    font-size: 4rem;
  }
}








/********************************************/
/* FOR WIDTH BELOW 1200PX */
/********************************************/


@media(max-width: 75em){

/* we will decrease overall font size by 1px i.e. making it 9px from 10px */
  /* 9/16 == 56.25% */
  html{
    font-size: 56.25%;
  }

  .heading-secondary{
    font-size:3.6rem ;
  }

  .heading-tertairy{
    font-size: 2.4rem;
  }

  .grid{

    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .home{
    gap: 4.8rem;
  }

  .main-nav-list{
    gap: 3.2rem;
  }

}


/********************************************/
/* FOR WIDTH BELOW 1040PX (Landscape tablets) */
/********************************************/


@media(max-width: 65em){

  .section-Home{
    padding: 6.4rem;
  }

  .home{
    gap: 4.8rem;
  }
  .about-me{
    padding: 3.2rem;
  }

  .expertise{
    column-gap: 3.2rem;
  }


  

  .cta-container{
    column-gap: 3.2rem;

  }

  .sign-up{
    column-gap: 3.2rem;
  }

  .container{
    padding: 2.2rem;
  }

  .heading-primary{
    font-size: 4rem;
    margin-bottom: 3.2rem;
  }

  .home-description{
    font-size: 1.8rem;
    margin-bottom: 3.2;
  }
} 

/********************************************/
/* FOR WIDTH BELOW 912PX (tablets)*/
/********************************************/


@media(max-width:57em){

  html{
    font-size: 50%;
  }

   .home{
    grid-template-columns: 1fr;
    padding:0 6.4rem;
    gap:6.4rem ;
  }

  .home-img{
    width:80%
  }

  .home-text-box{
text-align: center;

  }

  .home-img-box{
    text-align: center;
  }

  .cta-container{
    grid-template-columns: 1fr;
    width: 60rem;
  }

  .container{
    padding: 6.4rem;
    display: flex;
    justify-content: center;
  }
  
  .expertise-list{
    padding: 2.4rem;
  }

  .footer-container{
    padding: 1.8rem;
  }
  .footer{
    padding: 0;
  }
  .main-nav-list{
    gap: 1.8rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav{
    display: block;
  }



  .main-nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.93);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate-X(100%);
    transition: all 0.5s ease-in;


    /* to Hide mobile navigation by default */

    /* setting display to none Allows no transition at all */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) making it in-accessible */
    pointer-events: none;

    /* 3) hiding from screan readers */
    visibility: hidden;
  }

  .main-nav-list{
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
.main-nav-link:visited{
  font-size: 3.2rem;
}

.nav-open .main-nav{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.nav-open .icon-mobile-nav[name="close-outline"]{
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"]{
  display: none;
}

} 


/********************************************/
/* FOR WIDTH BELOW 704PX (for smaller tablets) */
/********************************************/


@media(max-width: 44em){

  .grid{
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }

  .Experience ,
  .projects{
    padding: 2.4rem;
  }


  .grid--3-cols{
    grid-template-columns: repeat(2,1fr);
  }

  .js{
    grid-column: 1/-1;
    justify-self: center;
  }
  .expertise{
    gap: 6.4rem;
    padding: 4.8rem;
  
  }

  .expertise-list{
    width: 28rem;
   
  }
  

}

/********************************************/
/* FOR WIDTH BELOW 600PX (for smaller tablets) */
/********************************************/

@media(max-width: 38em){



  .grid--3-cols,
  .grid--2-cols{
    grid-template-columns: 1fr;
  }

  .grid{
    gap: 4.8rem;
  }

  .home{
    padding: 0 3.2rem;
  }
  .section-Home{
    padding: 2.4rem 0 6.4rem 0;
  }

  .expertise-list{
    justify-self: center;
  }

  .btn,
  .btn:link,
  .btn:visited{
    padding: 2.4rem 1.6rem;
  }

  .sign-up{
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
  
  }

  .Experience ,
  .projects{
    padding: 3.2rem;
    margin-bottom: 1.8rem;
  }

  .social-links{
    gap: 1.8rem;
    
  }

  .footer--grid{
    gap: 0.2rem;
  }

  .contact{
    margin-bottom: 4.8rem;
  }

  .about-me{
    margin-bottom: 1.8rem;
  }

  .heading-secondary{
    margin-bottom: 2.4rem;
  }


  .heading-tertairy{
    margin-bottom: 0;
  }

  .signup-login{
    margin-bottom: 1.8rem;
  }

  .container{
    padding: 0 4.8rem;
  }

  .footer-container{
    padding: 1.8rem;
  }

  /* .footer--grid{
  
    grid-template-columns: 1fr 2fr;
  } */

}