

/* rem and em does not depend on HTML font size in case of media queries instead here 1rem = 1em = 16px i.e. default browser font size */

/* Do not use px unit in media queries */

/* for width of 1280px we should devide 1280 by 16 i.e. 1280/16 == 80em */

/* Always use em unit in media queris */


/********************************************/
/* FOR WIDTH BELOW 1344PX for small laptops */
/********************************************/
@media(max-width: 84em){

  .home{
    max-width: 120rem;
  }

  .heading-primary{
    font-size: 4.4rem;
  }
  .heading-secondary{
    font-size: 4rem;
  }
}








/********************************************/
/* FOR WIDTH BELOW 1200PX */
/********************************************/


@media(max-width: 75em){

/* we will decrease overall font size by 1px i.e. making it 9px from 10px */
  /* 9/16 == 56.25% */
  html{
    font-size: 56.25%;
  }

  .heading-secondary{
    font-size:3.6rem ;
  }

  .heading-tertairy{
    font-size: 2.4rem;
  }

  .grid{

    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .home{
    gap: 4.8rem;
  }

  .main-nav-list{
    gap: 3.2rem;
  }

}


/********************************************/
/* FOR WIDTH BELOW 1040PX (Landscape tablets) */
/********************************************/


@media(max-width: 65em){

  .section-Home{
    padding: 6.4rem;
  }

  .home{
    gap: 4.8rem;
  }
  .about-me{
    padding: 3.2rem;
  }

  .expertise{
    column-gap: 3.2rem;
  }


  

  .cta-container{
    column-gap: 3.2rem;

  }

  .sign-up{
    column-gap: 3.2rem;
  }

  .container{
    padding: 2.2rem;
  }

  .heading-primary{
    font-size: 4rem;
    margin-bottom: 3.2rem;
  }

  .home-description{
    font-size: 1.8rem;
    margin-bottom: 3.2;
  }
} 

/********************************************/
/* FOR WIDTH BELOW 912PX (tablets)*/
/********************************************/


@media(max-width:57em){

  html{
    font-size: 50%;
  }

   .home{
    grid-template-columns: 1fr;
    padding:0 6.4rem;
    gap:6.4rem ;
  }

  .home-img{
    width:80%
  }

  .home-text-box{
text-align: center;

  }

  .home-img-box{
    text-align: center;
  }

  .cta-container{
    grid-template-columns: 1fr;
    width: 60rem;
  }

  .container{
    padding: 6.4rem;
    display: flex;
    justify-content: center;
  }
  
  .expertise-list{
    padding: 2.4rem;
  }

  .footer-container{
    padding: 1.8rem;
  }
  .footer{
    padding: 0;
  }
  .main-nav-list{
    gap: 1.8rem;
  }

} 


/********************************************/
/* FOR WIDTH BELOW 835PX */
/********************************************/

/* 
@media(max-width: 53em){

.heading-primary{
  font-size: 4rem;
}

.heading-secondary{
  font-size: 3.2rem;
}

.heading-tertairy{
  font-size: 2.4rem;
}


.heading-general{
  font-size: 1.8rem;
}

.Experience,
.projects{
  padding: 3.2rem;
}

.work-experince li{
  line-height: 1.4;
}

.work-experience li:last-child{
  margin-bottom: 2.4rem;
}

.project-description{
  line-height: 1.4;
}

.expertise-list{
  padding: 1.8rem;
}


.expertise-list li{
  font-size: 1.6rem;
  line-height: 1.4;
}

.expertise-list li:first-child{
  font-size: 2rem;
}

} */